body {
	padding: 0px;
	margin: 0px;
}

.header {
	width: 100%; width: 240px; height: 71px; background-color: #cdd4ec; margin: 0px;
}

.header h2 {
	margin: 0px;
}

.menu {
	width: 240px; float: left; background-color: #a6afd1; min-height: 960px;
}

.container {
	width: 100%; min-width: 1280px;
}

.contents {
	overflow: hidden; padding: 0 30px; margin: auto; position: relative;
}

.depth_1 {
	list-style: none; padding-left: 10px;
}